<br />
<div class="box">
  <%= image_tag "dom_1.jpg", class: "gallery-pic" %>
</div>
<div class="box">
  <%= image_tag "dom_2.jpg", class: "gallery-pic" %>
</div>
<br class="clear">
<div class="box">
  <%= image_tag "dom_3.jpg", class: "gallery-pic" %>
</div>
<div class="box">
  <%= image_tag "dom_4.jpg", class: "gallery-pic" %>
</div>
<br class="clear">
<div class="box">
  <%= image_tag "dom_5.jpg", class: "gallery-pic" %>
</div>
<div class="box">
  <%= image_tag "dom_6.JPG", class: "gallery-pic" %>
</div>
<br class="clear">
<div class="box">
  <%= image_tag "dom_7.JPG", class: "gallery-pic" %>
</div>
<div class="box">
  <%= image_tag "dom_8.JPG", class: "gallery-pic" %>
</div>
<br class="clear">
<div class="box">
  <%= image_tag "dom_9.JPG", class: "gallery-pic" %>
</div>
<div class="box">
  <%= image_tag "dom_10.JPG", class: "gallery-pic" %>
</div>
<br class="clear">
<br />
<br />
<br />
<br />