<!DOCTYPE html>
<html>
  <head>
    <title>Domdotcom</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/4.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="col-2">
        <%= link_to "Domdotcom", '#', class: 'navbar-brand' %>
      </div>
        <div class="navbar-nav col-10">
          <div class="row col-12">
            <div class="col-3 text-center">
              <a class="nav-item nav-link" href="https://soundcloud.com/user-649238210" target="_blank"><i class="fab fa-soundcloud fa-2x"></i></a>
            </div>
            <div class="col-3 text-center">
              <a class="nav-item nav-link" href="#" target="_blank"><i class="fab fa-youtube fa-2x"></i></a>
            </div>
            <div class="col-3 text-center">
              <a class="nav-item nav-link" href="https://www.instagram.com/DomArocha51/?hl=en" target="_blank"><i class="fab fa-instagram fa-2x"></i></a>
            </div>
            <div class="col-3 text-center">
              <a class="nav-item nav-link" href="#"><i class="fas fa-images fa-2x"></i></a>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <%= yield %>
  </body>
</html>
